.auth-main-wrapper{
    &.verticle-align{
        .inner{
            display:block;
            padding-top: 10%;
        }
    }
}
.auth-panel
{
    max-width:$auth-panel-width;
    background:$auth-panel-bg;
    border-radius:$auth-panel-radius;
    box-shadow:$auth-panel-shadow;
    padding:$auth-panel-padding;
    margin:0 auto;
    min-height: 273px;

    @include mobile{
        max-width: 390px;
        padding:20px 25px 29px;
    }

    @include mobile{
        max-width: 320px;
    }
}

.auth-logo-wrapper{
    position:absolute;
    top:0;
    left:0;
    margin:0 auto;
    width: 100%;
    text-align: center;
    @include mobileS{
        position: static;
        text-align: center;
    }

    .logo{
        margin-top: 32px;
        display: inline-block;
        width: 200px;

        @include mobileS{
            margin-top: 0;
            margin-bottom: 20px;
        }

        img{
            display: inline-block;
            @include tabletL{
                max-width: 80%;
            }

            @include mobile{
                max-width: 40%;
            }

            @include mobileS{
                display: inline-block;
                text-align: center;
                max-width: 80%;
            }
        }
    }
}
.logo {
    text-decoration: none;
    pointer-events: none;
}


.auth-title{

    @include mobile{
        font-size: 18px;
    }

    .auth-title-desc{
        font-size:$font-size-md;
        color:$greyD;
        display: block;
        font-family:$font-regular;
        margin:10px auto 20px;

        @include mobile{
            font-size: 14px;
        }
    }
}

.forgot-password-text{
    float: right;
    color: $primary-color;
    cursor: pointer;
    text-decoration:underline;

    @include mobile{
        margin-bottom: 20px;
    }
}

.back-to-login
{
    position:absolute;
    top:0;
    right:0;
    color:$secondary-color;
    cursor:pointer;
    font-family: $font_regular;
}


.forgot-form{
    .back-to-login{
        float: right;
        color: #FF8500;
        cursor: pointer;
        text-decoration: underline;
        padding-top: 6px;
        position: relative;
    }
}

.form-statement{
     p {
        font-size: 14px;
        color:$greyD;
    }
}
