.scrollbar{
  overflow-y:auto;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #792c35;
}
.banner-position-label {
  i {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
}
.banner-position-field{
  display: none;
  width: 160px;
  margin: 0 auto;
}
.position-editing{
  .banner-position-field{
    display: block;
  }
  .banner-position-label{
    display: none;
  }
}
.input-group{
  &.input-group-icon-right{
    .form-control {
      border-right: 0;
    }
    .input-group-prepend{
      .input-group-text-close{
        border-radius: 0 5px 5px 0;
      }
      .input-group-text{
        &.btn-primary{
          background-color: #007bff;
          border-color: #007bff;
          color:#fff;
          &.input-group-text-close{
            background-color:$danger;
            border-color:$danger;
          }
        }
      }
    }
  }
}